<div class="editor">
  <div class="editor-body">
    <div
      id="htmlEditorCode"
      class="editor-code"
      placeholder="Start coding..."
    ></div>
    <div
      id="cssEditorCode"
      class="editor-code"
      placeholder="Start coding..."
    ></div>
    <div
      id="jsEditorCode"
      class="editor-code"
      placeholder="Start coding..."
    ></div>
  </div>
  <iframe id="result" frameborder="0"></iframe>
  <div class="editor-footer">
    <div class="editor-footer-left">
      <div class="editor-btn editor-reset">Reset</div>
    </div>
    <div class="editor-footer-right">
      <div class="editor-console">
        <ul class="editor-console-logs"></ul>
      </div>
    </div>
  </div>
</div>
